<% unless @room.errors.empty? %>
  
  <h4><%= pluralize(@room.errors.count, "error") %> prohibited this room from being saved:</h4>
  <ul>
  
    <% @room.errors.full_messages.each do |message| %>
  
      <li><%= message %></li>
  
    <% end %>
  
  </ul>

<% end %>


<%= form_with model: @room do |form| %>
  
  <div>
  
    <%= form.label "Room name" %>
  
    <%= form.text_field :name %>
  
  </div>

  
  <div>
  
    <%= form.label "Room topic" %>
  
    <%= form.text_field :topic_name %>
  
  </div>


  <div>
  
    <%= form.label "Room description" %>
  
    <%= form.text_area :desc %>
  
  </div>

  <%= form.submit %>

<% end %>