<%= content_for(:title, "StudyMate - All rooms") %>


<div class="row">
  
  <div class="col-sm-3 mb-5">
    <%= render "topic" %>
  </div>
  
  <div class="col-sm-6 mb-5">
    <div class="row">
      <div class="col">
        <h5>All rooms</h5>
        <small><%= pluralize(@rooms.count, 'room') %> available</small>
      </div>
      <div class="col text-end">
        <%= link_to "New room", new_room_url, class: "btn btn-outline-secondary" %>
      </div>
    </div>

    <%= render "rooms" %>
  </div>
  
  <div class="col-sm-3">
    <%= render "activity" %>
  </div>

</div>