<%= content_for(:title, "Room - #{@room.name}")  %>

<div id="room-id" data-room-id="<%= @room.id %>"></div>

<div style="display: flex;">

	<div style="width: 80%;">

		<%= link_to "back", root_url %>

		<h3><%= @room.name %> chat</h3>

		<div style="min-height: 70vh;", id="messages">

			<% unless @room.messages.empty? %>

				<% @room.messages.each do |message| %>

					<p><%= render "messages/message", message: message %></p>

				<% end %>

			<% end %>

		</div>

		<%= render "messages/form", message: Message.new, room: @room %>

	</div>


	<div style="width: 20%;">
		<%= render "participants", room: @room %>
	</div>

</div>