<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "StudyMate" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <nav>

      <%= link_to_unless_current "StudyMate", root_url %><br><br>
      
      <% if user_signed_in? %>
      
        Welcome, @<%= current_user.username %>
      
        <%= button_to "Sign out", destroy_user_session_url, method: :delete %>
      
      <% else %>
      
        <%= button_to "Sign in", new_user_session_path %>
      
      <% end %>
    
    </nav>
    
    <hr>

    <%= yield %>

  </body>
  
</html>
